@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0f;
  --foreground: #e2e8f0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
